@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.747);
}

.fixed-right {
    position: fixed;       /* Fixa os ícones */
    top: 6%;              /* Centraliza verticalmente */
    right: 4%;          /* Distância da borda direita */
    transform: translateY(-50%); /* Centraliza verticalmente */
    z-index: 1000;        /* Garante que os ícones fiquem acima de outros elementos */
}

.fixed-right a {
    display: block;        /* Faz cada ícone ocupar uma linha */
    margin-bottom: 15px;  /* Espaçamento entre os ícones */
}

.fixed-right img {
    width: 40px;          /* Largura dos ícones */
    height: 40px;         /* Altura dos ícones */
    transition: transform 0.3s; /* Animação ao passar o mouse */
    border-radius: 50%;
}

.fixed-right img:hover {
    transform: scale(1.1); /* Aumenta o tamanho do ícone ao passar o mouse */
}


h1 {
    color: rgba(255, 255, 255, 0.815);
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 10px black;
    margin-top: 20px;
    border-radius: 10%;
    text-shadow: 5px 2px 5px black;
}

/* Contêiner que une o carrossel e a imagem panorâmica */
.car-display {
    width: 174px;
    margin: 0 auto;
    border: 2px solid #000;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 10px;
}

/* Carrossel de imagens */
.carousel {
    width: 100%;
    height: 120px;
    overflow: hidden;
    margin-bottom: 0px;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Imagem panorâmica */
.panorama {
    width: 100%;
    height: 140px;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
}

.panorama img {
    width: 200%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    animation: scrollPanorama 10s linear infinite;
}

@keyframes scrollPanorama {
    from { left: 0; }
    to { left: -100%; }
}

/* Especificações do carro */
.car-info {
    text-align: center;
    padding: 0px;
}

.car-info h3 {
    font-size: 2em;
    margin: 0px;
}

.car-info p {
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;

}

.carropai {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}